* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------- */

#sony {
    background-color: black;
}

.sony-logo {
    width: 100px;
    height: 40px;
}