* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------- */
/* HEADER */

#sony {
    background-color: black;
}

.sony-logo {
    width: 100px;
    height: 40px;
}

/* -------------------------------------------------------- */
/* NAVBAR */

.fa-chevron-down {
    color: lightgrey;
    font-size: 12px;
    padding-left: 5px;
    justify-content: end;
}

.navabar button {
    margin: 0 10px;
}

/* -------------------------------------------------------- */