* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------- */
/* 10 HEADER */

#sony {
    background-color: black;
}

.sony-logo {
    width: 100px;
    height: 40px;
}

/* -------------------------------------------------------- */
/* 20 NAVBAR */

.fa-chevron-down {
    color: lightgrey;
    font-size: 12px;
    padding-left: 5px;
    justify-content: end;
}

.navabar button {
    margin: 0 10px;
}

/* -------------------------------------------------------- */
/* 30 RETURNAL */

h2 {
    font-size: 40px;
}

#jumbotron {
    width: 100%;
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    padding: 40px;
}

.img-jumbo {
    width: 200px;
}

/* -------------------------------------------------------- */
/* 40 BANNER */

#game-banner {
    width: 100%;
    padding: 40px;
}

.border-game {
    border-radius: 20px;
}

#game-banner img:hover {
    border: 1px solid blue;
}

/* -------------------------------------------------------- */
/* 50 CONSOLE */

#console {
    padding: 40px;
}

#console sup {
    font-size: 8px;
}

.opacity {
    opacity: 0.6;
}

.opacity:hover {
    opacity: 1;
    border-bottom: 1px solid blue;
}

/* -------------------------------------------------------- */
/* 60 IT TAKES TWO */

#jumbotron-2 {
    width: 100%;
    height: 600px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    padding: 40px;
}

/* -------------------------------------------------------- */
/* 70 NUOVE USCITE */

#new {
    background-color: #1f1f1f;
    padding: 40px;
}

#new sup {
    font-size: 8px
}

/* -------------------------------------------------------- */
